html, body { margin: 0; padding: 0; }
body { background: url('./img/bg_stripe.png'); }
h1 { font: 1.6em "Fjalla One"; margin: 8px 0 2px; }
a { color: #BF0D0D; text-decoration: none; }
a:hover { text-decoration: underline; }
p { margin: 8px 0; }
ul { list-style: circle; margin: 0; }
::selection { background: #CCCCCC; }
::-moz-selection { background: #CCCCCC; }

#main {
	width: 50%;
	margin: 40px auto;
	font: 1.0em "Roboto", times, serif;
}

#logo {
	font: 2em georgia, serif;
	margin: 8px 18px;
	color: #AAA;
	//display: none;  /* fade in with jQuery */
}

#content {
	padding: 8px 28px;
	font-size: 1em;
	line-height: 1.5;
	background-color: white;
	border-top: 3px solid #BF0D0D;
	//display: none;  /* fade in with jQuery */
}

#disclaimer {
	color: #BBB;
	font-size: 0.7em;
	text-align: right;
	padding: 10px 16px;
	//display: none;  /* fade in with jQuery */
}

#disclaimer a { color: #BBB; text-decoration: underline; }
#disclaimer a:hover { text-decoration: none; }

.section {
	margin: 22px 0;
}

.red {
	color: #BF0D0D;
	margin-right: 8px;
}

.project {
	background-color: #F0F0F0;
	border-top: 1px solid #BF0D0D;
	padding: 8px 16px;
}
.project:hover {
	background-color: #FAFAFA;
}

.project a:first-child {
	font-weight: bold;
}

